{% extends "admin/base.html" %}
{% load admin_shortcuts_tags %}

{% block title %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block nav-global %}
	{% block admin_shortcuts %}
		</div>  {# this closes the #header div #}
		<div class="admin_shortcuts">
			{% admin_shortcuts %}
		{# </div>  don't close this one, because it's closed in base.html #}
	{% endblock %}
{% endblock %}


{% block extrastyle %}
	{{ block.super }}
	<script src="https://use.fontawesome.com/releases/v5.12.0/js/all.js" data-auto-replace-svg="nest"></script>
	<style type="text/css">{% admin_shortcuts_css %}</style>
{% endblock %}


{% block extrahead %}
	{{ block.super }}
	{% admin_shortcuts_js %}
{% endblock %}
